#first-1 {
    position: absolute;
    top: 100px; 
    left: 200px; 
  }
#new {
    position: absolute;
    top: 60px; /* 上からの位置 */
    right: 200px; /* 左からの位置 */
  }

#memo-set {
    position: absolute;
    left: 500px; /* 左からの位置 */
  }